body {
  background-color: #a5a8ac;
}

ul {
  list-style: none;
  padding-left: 0;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: rgb(62, 235, 62);
  background: rgb(239, 243, 239);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* styles for form elements */

.blog-form {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 10px;
  align-items: center;
}

.blog-form label {
  width: 50px;
}

.blog-form input[type='text'] {
  width: 300px;
}

.blog-form input[type='text']:last-of-type {
  margin-bottom: 10px;
}

.form-control {
  border: 1px solid rgba(39, 38, 38, 0.803);
  padding: 5px;
}

.blog-form button[type='submit'] {
  padding: 5px 20px;
  margin-bottom: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-form button[type='submit']:hover {
  background-color: #45a049;
}

/* styles for blogs */
.blogStyle {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

}

.blogItem {
  flex: 1;
  padding: 5px;
  border: 1px solid;
}

.blogItemAligned {
  display: flex;
  align-items: center;
}

.checkboxWrapper {
  margin-right: 10px;
}

/* styles for deletion modal window */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  width: 300px;
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.cancel-button {
  margin-right: 10px;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

/* link style */
.linkStyle {
  padding: 5;
  text-decoration: none;
}

.like-button {
  margin-left: 10px;
}

/* userMangement style */
.userManagement {
  margin-top: 10px;
}

/* Comments section */
.comment-container {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;

}

.comment-content,
.comment-date {
  display: inline-block;
}

.comment-content {
  margin-right: 30px;
}

.comment-date {
  font-size: 0.9em;
  color: #4e4c4ca1;
}